.flex-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.margin-h-center {
  margin: 0 auto;
}

.margin-v-center {
  margin: auto 0;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

.content-container {
  border: 1px solid #838383;
  width: 80%;
  margin-top: 3rem;
  padding: 4rem 5rem;
  color: #eeeeee;
  margin: 3rem auto 6rem auto;
}

.vertical-border {
  border-right: 1px solid #838383;
}

.heading-bar {
  width: 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.5rem solid #7EACBD;
  border-bottom-right-radius: 0.75rem;
}

.emphasis {
  font-size: 1.5rem;
  font-family: "OCR-A";
  color: #7EACBD;
}

h1 {
  font-size: 6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-family: SegoeUI;
}

@font-face {
  font-family: "OCR-A";
  font-style: normal;
  font-weight: 400;
  src: url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.eot");
  /* IE9 Compat Modes */
  src: local("OCR A"), local("OCR-A"), url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.eot") format("embedded-opentype"), url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.woff2") format("woff2"), url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.woff") format("woff"), url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.ttf") format("truetype"), url("../img/OCR-A-Extended-V2/OCR-A-Extended-V2.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 700;
}
body {
  font-family: "OCR-A";
}

/*# sourceMappingURL=Library.css.map */
