.project-container {
    display: relative;
}

#project-content {
    padding: 2rem 3rem;
    width: 100%;
}

.amazon-carry-background {
    background-image: url('../img/Amazon_Carry_Background.jpg');
    background-size: cover;
    text-align: center;
    opacity: 0.65;
    padding: 0 10rem;
    filter: grayscale();
    width: 100%;
    height: 100%;
}

.amazon-carry {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/Amazon_Carry_Background_BW.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.arm-processor {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/ARM_Background_BW.jpg'); 
    background-position: center;
}

.doctor-fingertip {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/DAF_Background_BW_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -1px;
}

.project-btn {
    padding: 8rem 0;
    color: #FED0BB;
    font-weight: bold;
    opacity: 0.65;
    width: 100%;
    height: 400px;
    border-radius: 0;
    background-size: 100%;
    transition: all 0.3s ease-out;
    
}

.project-btn:hover {
    color: #FCB9B2;
    background-size: 110%;
    opacity: .8;
}


.project-btn:focus {
    box-shadow: 0 0 0;
    outline: 1px solid #838383;
}

.project-btn-text {
    font-size: 2.5rem;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.overlay-heading {
    font-size: 2rem;
}

.overlay-content-row {
    display: flex;
    height: 90%;
}

.arrow {
    width: 1.25rem;
    height: 1.25rem;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    transform: rotate(45deg);
    margin: 0 auto;
    align-self: center;
}

.arrow-wrapper {
    display: flex;
    background-color: #ffffff00;
    border: none;
    width: 3rem;
    height: 3rem;
    align-self: center;
    margin: 0 auto;
}

.arrow-dummy {
    display: flex;
    width: 3rem;
    height: 0;
    margin: 0 auto;
}

#right-arrow-wrapper:hover {
    transition: transform ease-in 0.3s;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
}

#left-arrow-wrapper:hover {
    transition: transform ease-in 0.3s;
    -webkit-transform: translateX(-4px);
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
}

.overlay-content-half {
    background-color: #544475;
    margin: 5rem 0rem 2rem 0rem;
    padding: 2rem 3rem;
    border: 1px solid #544475;
    font-family: 'Segoe UI';
    height: 85%;
}

.overlay-content-image {
    width: 80%;
    margin: 0 auto;
    align-self: center;
}