.app-background {
  width: 100%;
  background-size: cover;
  padding: 3rem 0 1px 0;
}

html { height: 100vh; overflow-y:auto; overflow-x: hidden }
body { height: 100vh; }

.top-nav-bar {
  max-width: 100vw;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  color: #ffffff00;
}

.top-nav-bar-container {
  align-self: center;
  box-sizing: border-box;
}

#selected {
  border-bottom: 3px solid #ffffff;
}

.butn {
  border-radius: 0px;
  border-width: 0px;
  background-color: #ffffff00;
  border-color: #ffffff00;
  box-shadow: 0 0 0;
  border-style: none;
  color: #CFCFCF;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  border-bottom: 3px solid #ffffff00;
}

.hoverbtn {
  color: #eeeeee;
  background-color: #e4e4e410;
  border-bottom: 3px solid #ffffff;
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.butn:active, .butn:focus, .butn:focus-within, .butn:visited {
  border: none;
  box-shadow: 0 0 0;
  outline-style: none;
  border-bottom: 3px solid #ffffff;
}

.footer-container {
  color: #CFCFCF;
  background-color: #41466D;
  align-content: center;
  text-align: center;
  padding: 2rem 0 2rem 0;
  border-top: 2px solid #eeeeee;
}

.footer-text {
  font-size: 0.75rem;
  margin-bottom: 0;
}

#footer-hr {
  width: 7rem;
  background-color: #eeeeee;
  height: 0.2rem;
  margin: 0.5rem auto;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}